<div class="page-header">
    <router-outlet></router-outlet>
        <h1> Students List </h1>
    </div>
    <div class="panel">
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-8">
                    <input class="form-control" [(ngModel)]="name" placeholder = "Name" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <input type="number" class="form-control" [(ngModel)]="group" placeholder="Group" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <button class="btn btn-primary" (click)="addItem(name, group)">Add</button>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Group</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students">
                    <td><span [hidden]="student.isEdited"> {{student.name}} </span> <br />
                        <input [hidden]="!student.isEdited" type="text" [(ngModel)]="student.name"/>
                    </td>
                    <td><span [hidden]="student.isEdited"> {{student.group}} </span> <br />
                        <input [hidden]="!student.isEdited" type="text" [(ngModel)]="student.group"/>
                    </td>
                    <td><span (click)="student.isEdited = true;"><i class="glyphicon glyphicon-pencil"></i></span> &nbsp;
                        <span (click)="deleteItem(student)"><i class="glyphicon glyphicon-remove"></i></span>
                    <button [hidden]="!student.isEdited" (click)="editItem(student);">Ok</button>
                     </td>
                </tr>
            </tbody>
        </table>
    </div>