<div class="page-header">
    <router-outlet></router-outlet>
        <h1> Teachers List </h1>
    </div>
    <div class="panel">
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-8">
                    <input class="form-control" [(ngModel)]="name" placeholder = "Name" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <input class="form-control" [(ngModel)]="degree" placeholder="Degree" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <button class="btn btn-primary" (click)="addItem(name, degree)">Add</button>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Degree</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let teacher of teachers">
                    <td><span [hidden]="teacher.isEdited"> {{teacher.name}} </span> <br />
                        <input [hidden]="!teacher.isEdited" type="text" [(ngModel)]="teacher.name"/>
                    </td>
                    <td><span [hidden]="teacher.isEdited"> {{teacher.degree}} </span> <br />
                        <input [hidden]="!teacher.isEdited" type="text" [(ngModel)]="teacher.degree"/>
                    </td>
                    <td><span (click)="teacher.isEdited = true;"><i class="glyphicon glyphicon-pencil"></i></span></span> &nbsp;
                        <span (click)="deleteItem(teacher)"><i class="glyphicon glyphicon-remove"></i></span></span>
                    <button [hidden]="!teacher.isEdited" (click)="editItem(teacher);">Ok</button>
                     </td>
                </tr>
            </tbody>
        </table>
    </div>